@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #131313;
  background-image: url('../../public/assets/images/line.svg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 20px
}